* {
    box-sizing: border-box;
    font-family: 'STIX Two Math', serif;
}

html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

header {
    width: 100%;
    text-align: center;
}

footer {
    width: 100%;
    text-align: center;
}

div {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media only screen and (min-width: 600px) {
    body {
        width: 80%;
    }    
}